.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
}
.freeBox__gvTLp {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__oiGjW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}
.freeBox__oiGjW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__oiGjW > :global(.__wab_flex-container) > *,
.freeBox__oiGjW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oiGjW > :global(.__wab_flex-container) > picture > img,
.freeBox__oiGjW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__hxtKf {
  position: relative;
  font-size: 28px;
  color: rgb(153, 141, 128) /* plasmic-token: QXX6tW-eGy25 */;
}
.text__qzA2 {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: IPY4N9SrMQOt */;
  font-size: 40px;
}
.text__onLy2 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
}
.freeBox__rtBk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__qKo9H {
  display: flex;
  position: relative;
  height: 1px;
  flex-direction: row;
  width: 32px;
  flex-shrink: 0;
  border: 1px solid rgb(97, 96, 96) /* plasmic-token: IPY4N9SrMQOt */;
}
.text__t2LJt {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: IPY4N9SrMQOt */;
}
.text__xTjhT {
  position: relative;
  color: rgb(188, 183, 178) /* plasmic-token: nZ_HYRERxB68 */;
  text-decoration-line: line-through;
}
.freeBox__yS8Uu {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(24px + 12px) !important;
}
.freeBox__yS8Uu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__yS8Uu > :global(.__wab_flex-container) > *,
.freeBox__yS8Uu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yS8Uu > :global(.__wab_flex-container) > picture > img,
.freeBox__yS8Uu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton__dAsEn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__w7Vn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__fdA3Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  min-height: 0;
}
.img {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: contain;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox__hZmOu {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__hZmOu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__hZmOu > :global(.__wab_flex-container) > *,
.freeBox__hZmOu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hZmOu > :global(.__wab_flex-container) > picture > img,
.freeBox__hZmOu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__zqRu {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__toiXh {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__esE8 {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
