.root {
  display: flex;
  width: 100%;
  height: 400px;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  max-width: 360px;
  background: rgb(255, 255, 255);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
.root__long {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.root__long > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root__long > :global(.__wab_flex-container) > *,
.root__long > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root__long > :global(.__wab_flex-container) > picture > img,
.root__long
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
  margin-top: 0px;
}
.freeBox___2OQes {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__long___2OQeSpN3Sa {
  display: none;
}
.img___43Tmn {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___43Tmn > picture > img {
  object-fit: cover;
}
.img___43Tmn > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__sRwsS {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sRwsS > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__sRwsS > :global(.__wab_flex-container) > *,
.freeBox__sRwsS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sRwsS > :global(.__wab_flex-container) > picture > img,
.freeBox__sRwsS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__long__sRwsSpN3Sa > :global(.__wab_flex-container) {
  align-items: flex-start;
}
.slotTargetTitle {
  font-weight: 600;
  text-align: left;
}
.slotTargetAuthor {
  color: rgb(188, 183, 178) /* plasmic-token: nZ_HYRERxB68 */;
  font-size: 14px;
}
.slotTargetDescription {
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  text-align: left;
  font-size: 13px;
}
.slotTargetDescription__long {
  text-align: left;
}
