.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 0;
  min-height: 0;
}
.freeBox__siXm {
  max-width: 1140px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__hmRnt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: #f8f9fd;
}
.freeBox__hmRnt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__hmRnt > :global(.__wab_flex-container) > *,
.freeBox__hmRnt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hmRnt > :global(.__wab_flex-container) > picture > img,
.freeBox__hmRnt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bvOFl {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.productCarousel:global(.__wab_instance) {
  position: relative;
  margin-bottom: 64px;
  margin-top: 16px;
}
.freeBox__fjg5M {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
}
.text__xldbw {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: IPY4N9SrMQOt */;
  font-size: 30px;
  font-weight: 500;
}
.columns__aQxuC {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__aQxuC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__aQxuC > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aQxuC > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aQxuC > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aQxuC > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__aQxuC > :global(.__wab_flex-container) > *,
.columns__aQxuC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aQxuC > :global(.__wab_flex-container) > picture > img,
.columns__aQxuC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aQxuC {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aQxuC > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aQxuC > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aQxuC > :global(.__wab_flex-container) > *,
  .columns__aQxuC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aQxuC > :global(.__wab_flex-container) > picture > img,
  .columns__aQxuC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__eLOk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__iDh2J:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__iDh2J:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__dls5 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__dls5 > picture > img {
  object-fit: cover;
}
.img__dls5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__zWMnE:global(.__wab_instance) {
  position: relative;
}
.column__gi7Wm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___9I0K8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__hb75T {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__hb75T > picture > img {
  object-fit: cover;
}
.img__hb75T > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__t8Rmt:global(.__wab_instance) {
  position: relative;
}
.column__d3Pns {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__pMcMf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__eh0Zz {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__eh0Zz > picture > img {
  object-fit: cover;
}
.img__eh0Zz > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__mcem4:global(.__wab_instance) {
  position: relative;
}
.column__ctVbo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__zr4Nw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___9Vo0 {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img___9Vo0 > picture > img {
  object-fit: cover;
}
.img___9Vo0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__m6PIn:global(.__wab_instance) {
  position: relative;
}
.column__svhKu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__gzwg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__siK1D {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__siK1D > picture > img {
  object-fit: cover;
}
.img__siK1D > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__bMJeQ:global(.__wab_instance) {
  position: relative;
}
.column__a07D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__nWnxf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__aHxRh {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__aHxRh > picture > img {
  object-fit: cover;
}
.img__aHxRh > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__tffAk:global(.__wab_instance) {
  position: relative;
}
.column__jgOr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard__zbVag:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__l5KPm {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img__l5KPm > picture > img {
  object-fit: cover;
}
.img__l5KPm > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__wnzqf:global(.__wab_instance) {
  position: relative;
}
.column__kjyoo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCard___4IIkk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___3KQfm {
  position: relative;
  object-fit: cover;
  width: 160px;
}
.img___3KQfm > picture > img {
  object-fit: cover;
}
.img___3KQfm > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__bM12:global(.__wab_instance) {
  position: relative;
}
.text__hMps2 {
  height: auto;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
}
.freeBox__gPuGw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
}
.text__zfYxl {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: IPY4N9SrMQOt */;
  font-size: 30px;
  font-weight: 500;
}
.columns__gJuY {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__gJuY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__gJuY > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__gJuY > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__gJuY > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__gJuY > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__gJuY > :global(.__wab_flex-container) > *,
.columns__gJuY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gJuY > :global(.__wab_flex-container) > picture > img,
.columns__gJuY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gJuY {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gJuY > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gJuY > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gJuY > :global(.__wab_flex-container) > *,
  .columns__gJuY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__gJuY > :global(.__wab_flex-container) > picture > img,
  .columns__gJuY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column___8WiDm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__j65F9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___2MFcS {
  height: auto;
}
.text__ulC0K {
  height: auto;
}
.img__wsSX {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__wsSX > picture > img {
  object-fit: cover;
}
.img__wsSX > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__cfLoj:global(.__wab_instance) {
  position: relative;
}
.column___6IXmz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__tpDgg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__o2I4Q {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__o2I4Q > picture > img {
  object-fit: cover;
}
.img__o2I4Q > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__zJ3To:global(.__wab_instance) {
  position: relative;
}
.column___7C4Oa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__rw6Ol:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__nfF3I {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__nfF3I > picture > img {
  object-fit: cover;
}
.img__nfF3I > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__na8OS:global(.__wab_instance) {
  position: relative;
}
.column___7Dey0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__yvPj1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__yvPj1:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__nbTr {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__nbTr > picture > img {
  object-fit: cover;
}
.img__nbTr > .__wab_img-spacer > img {
  object-fit: cover;
}
.ratings__v5J9D:global(.__wab_instance) {
  position: relative;
}
.freeBox__p3Gtq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__kZtxc {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: IPY4N9SrMQOt */;
  font-size: 30px;
  font-weight: 500;
}
.columns__fhEnZ {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__fhEnZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__fhEnZ > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__fhEnZ > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__fhEnZ > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__fhEnZ > :global(.__wab_flex-container) > *,
.columns__fhEnZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fhEnZ > :global(.__wab_flex-container) > picture > img,
.columns__fhEnZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fhEnZ {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fhEnZ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fhEnZ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__xmi6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__c4KC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__pye9E {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__pye9E > picture > img {
  object-fit: cover;
}
.img__pye9E > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__mlXcZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__bowsk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img___339T {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___339T > picture > img {
  object-fit: cover;
}
.img___339T > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__sJjAc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__t9Gsg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__xwQmO {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__xwQmO > picture > img {
  object-fit: cover;
}
.img__xwQmO > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__c3Xny {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: #f8f9fd;
  padding: 48px;
}
.freeBox__c3Xny > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__c3Xny > :global(.__wab_flex-container) > *,
.freeBox__c3Xny > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c3Xny > :global(.__wab_flex-container) > picture > img,
.freeBox__c3Xny
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__vjceR {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__vjceR > picture > img {
  object-fit: cover;
}
.img__vjceR > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__miFI {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__miFI > picture > img {
  object-fit: cover;
}
.img__miFI > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ii9Ug {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__ii9Ug > picture > img {
  object-fit: cover;
}
.img__ii9Ug > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__njmh {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__njmh > picture > img {
  object-fit: cover;
}
.img__njmh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__rkHin {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__rkHin > picture > img {
  object-fit: cover;
}
.img__rkHin > .__wab_img-spacer > img {
  object-fit: cover;
}
.footer:global(.__wab_instance) {
  position: relative;
}
