.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox___8JgmT {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox___8JgmT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___8JgmT > :global(.__wab_flex-container) > *,
.freeBox___8JgmT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8JgmT > :global(.__wab_flex-container) > picture > img,
.freeBox___8JgmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8JgmT {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8JgmT > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8JgmT > :global(.__wab_flex-container) > *,
  .freeBox___8JgmT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8JgmT > :global(.__wab_flex-container) > picture > img,
  .freeBox___8JgmT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__phXkc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__phXkc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__phXkc > :global(.__wab_flex-container) > *,
.freeBox__phXkc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__phXkc > :global(.__wab_flex-container) > picture > img,
.freeBox__phXkc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__kwqty {
  position: relative;
  font-weight: 700;
}
.freeBox__dp0Gd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dp0Gd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dp0Gd > :global(.__wab_flex-container) > *,
.freeBox__dp0Gd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dp0Gd > :global(.__wab_flex-container) > picture > img,
.freeBox__dp0Gd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__lzGAo {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__lzGAo:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__uEnc0 {
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__uEnc0:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__imSkY {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__imSkY:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__wbXnq {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__wbXnq:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.freeBox__poz89 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__poz89 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__poz89 > :global(.__wab_flex-container) > *,
.freeBox__poz89 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__poz89 > :global(.__wab_flex-container) > picture > img,
.freeBox__poz89
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__j1ENm {
  position: relative;
  font-weight: 700;
}
.freeBox__faNk3 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__faNk3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__faNk3 > :global(.__wab_flex-container) > *,
.freeBox__faNk3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__faNk3 > :global(.__wab_flex-container) > picture > img,
.freeBox__faNk3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__ah5Y {
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__ah5Y:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__oUwEs {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__oUwEs:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__mrr9C {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__mrr9C:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__qqBnb {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link__qqBnb:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link___3G77A {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___3G77A:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.freeBox___3LpE {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___3LpE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___3LpE > :global(.__wab_flex-container) > *,
.freeBox___3LpE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3LpE > :global(.__wab_flex-container) > picture > img,
.freeBox___3LpE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text__jbSp5 {
  position: relative;
  font-weight: 700;
}
.freeBox__mbP7K {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mbP7K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mbP7K > :global(.__wab_flex-container) > *,
.freeBox__mbP7K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mbP7K > :global(.__wab_flex-container) > picture > img,
.freeBox__mbP7K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__dlPv4 {
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__dlPv4:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__zz47C {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__zz47C:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link___8QItC {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___8QItC:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__uPra6 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__uPra6:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.link__iBvNe {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__iBvNe:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  padding-left: 10px;
}
.freeBox__gk7Jz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__gk7Jz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__gk7Jz > :global(.__wab_flex-container) > *,
.freeBox__gk7Jz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gk7Jz > :global(.__wab_flex-container) > picture > img,
.freeBox__gk7Jz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.text___3CTSn {
  position: relative;
  font-weight: 700;
}
.text__s8AsD {
  position: relative;
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: 0H5SNmztWaak */;
}
.freeBox__h3Ry {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .freeBox__h3Ry:hover {
  box-shadow: 4px 4px 4px 4px rgb(160, 158, 156)
    /* plasmic-token: 0H5SNmztWaak */;
}
.textInput {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg__yIvPy {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__mWpGo {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: #f8f9fd;
  padding: 32px 16px;
}
.freeBox__mWpGo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mWpGo > :global(.__wab_flex-container) > *,
.freeBox__mWpGo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mWpGo > :global(.__wab_flex-container) > picture > img,
.freeBox__mWpGo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jcGa6 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jcGa6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jcGa6 > :global(.__wab_flex-container) > *,
.freeBox__jcGa6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jcGa6 > :global(.__wab_flex-container) > picture > img,
.freeBox__jcGa6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__k7Fyx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lpHc9 {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__lpHc9:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
}
.iconLink__lyKzr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__euoE {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__euoE:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
}
.iconLink__rADdv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__cARyX {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__cARyX:hover {
  color: rgb(233, 156, 46) /* plasmic-token: ybOsQZpcADuv */;
}
.freeBox__uIe95 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uIe95 {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__z7JSf {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__okLms {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__okLms:hover {
  text-decoration-line: underline;
}
.link__qheri {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__qheri:hover {
  text-decoration-line: underline;
}
